.container {
  padding: 30px;

  .title {
    color: #3e3e73;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: capitalize;
    text-align: center;
  }

  .search-block {
    box-shadow: 4px 5px 12px #8080809c;
    border-radius: 20px;
    min-height: 400px;
    margin: 50px 20px;
    padding: 50px;
  }
}
